#err{color: red;    
    font-family: Arial;
    font-size: 12px;
}
.text_main > h1{
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    color: #131821;
}
.text_secondary > h2{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: rgba(106, 112, 123, 1);

}
.text_secondary {
    margin: 0px 0 0 0;
    
}

.form_inner{
    display: flex;
    min-width: 590px;
    max-width: 649px;
    width: 100%;

  
    
    margin: 0px 0 0 -40px;
}
.form_inner > input {
    font-family: Arial;
    font-size: 16px;
    outline: none;
    width: 90%;
    height: 60px;
    border-top: 1px rgba(227, 227, 228, 1) solid;
    border-right: 1px white solid;
    border-bottom: 1px rgba(227, 227, 228, 1) solid;
    padding: 0 0 0 33px;
    border-left: 4px solid rgba(64, 102, 165, 1);
}

#email_input:hover{

    border-top: 0.5px solid rgba(64, 102, 165, 1);
    border-bottom: 0.5px solid rgba(64, 102, 165, 1);
    border-right: 0.5px solid rgba(64, 102, 165, 1);
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
   
    
}
#email_input:focus{

    box-shadow: 0 0 50px 10px #555;
}
.input_button > button{
    margin: 4px 0 0 -6px;
    border: none;
    background-color: white;
    cursor: pointer;
}
.input_button {
    width: 47px;
    background-color: white;
    height: 60px;
    border-top: 1px rgba(227, 227, 228, 1) solid;
    border-right: 1px rgba(227, 227, 228, 1) solid;
    border-bottom: 1px rgba(227, 227, 228, 1) solid;
    display: flex;
    align-items: center;
    padding: 0 0 0 1px;
}
.check_box {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 53px 0 0 0;
}
#terms_and_conditions {
    width: 26px;
    height: 26px;
    background-color: rgba(64, 102, 165, 1);
}
#terms_text {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin: 0px 0 0 20px;
    color: #6A707B;
}
#terms_text > a {
    color: black;
}
#terms_text > a:hover {
    color: rgba(64, 102, 165, 1);

}
.link_box {
    width: 100%;
    display: flex;
    border-top: 1px rgba(227, 227, 228, 1) solid;
    justify-content: center;
    margin: 50px 0 0 0;
}
.soc_media {
    width: 46px;
    height: 46px;
    border: 1px rgba(227, 227, 228, 1) solid;
    margin: 21px 0 0px 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.soc_media > div {
    display: flex;
    align-items: center;
}

#inst:hover {
    background: #C13584;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    
}
#inst:active {
    background: #8F2762;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    
} 
#twit:hover {
    background: #1DA1F2;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
} 
#twit:active {
    background: #177FBF;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
} 
#yt:hover {
    background: #FF0000;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
} 
#yt:active {
    background: #CC0000;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
} 
#fb:hover {
    background: #4267B2;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    
} 
#fb:active {
    background: #2F4A80;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3); 
} 
#terms_text > a:active {
    color: rgba(35, 55, 89, 1);
}

#fb:hover > div > svg > path{
    fill: white !important;
    opacity: 1 !important;
}
#inst:hover > div > svg > path{
    fill: white !important;
    opacity: 1 !important;
}
#twit:hover > div > svg > path{
    fill: white !important;
    opacity: 1 !important;
}
#yt:hover > div > svg > path{
    fill: white !important;
    opacity: 1 !important;
}







@media (max-width: 825px) {

    .subscribe_outer{
        margin: 0px 0 0 0 !important; 
        display: flex;
        flex-direction: column;
    }
    .subscribe_inner{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .subscribe_box{
        width: 90%;
        margin: 30px 0 0 0;
       
    }
    .text_box{
        display: inline-block;
        height: 20px;

        display: flex;
        flex-direction: column;
    }
    .text_main, .text_secondary{
        min-width: 274px;
        width: 85%;
        min-height: 50px
    }
    .text_main > h1{
        margin: 2px 0 0 0 ;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: 1px;
        min-width: 315px;
    }
    
    .text_secondary > h2{
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 26px;
        color: rgba(106, 112, 123, 1);
        margin: 0px 0 0 0 !important;
     
        
    }
    .form_box{
        margin: 20px 0 0 0;
        width: 95%;
       
       
    }
    .form_inner > input{
       
        width: 90%;
        height: 60px;
        border-top: 1px rgba(227, 227, 228, 1) solid;
        border-right: 1px white solid;
        border-bottom: 1px rgba(227, 227, 228, 1) solid;
        padding: 0 0 0 13px;
        border-left: 4px solid rgba(64, 102, 165, 1);
        
    }
     .form_inner{
         display: flex;
         width: auto;
         margin: 0 0 0 0;
         min-width: 100%;
         max-width: 100%;
     }
     form{
        display: flex;
        flex-direction: column;
     }
    .input_button{
        width: 68px;
        background-color: white;
        height: 60px;
        border-top: 1px rgba(227, 227, 228, 1) solid;
        border-right: 1px rgba(227, 227, 228, 1) solid;
        border-bottom: 1px rgba(227, 227, 228, 1) solid;
        display: flex;
        align-items: center;
        padding: 0 0 0 1px;
    }
    .input_button > svg {
     margin: 0 0 0 15px;
    }
    .check_box{
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        margin: 8px 0 0 0 !important;
    }
    #terms_and_conditions{
        width: 26px;
        height: 26px;
        background-color: rgba(64, 102, 165, 1);
    }
    #terms_text{
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        margin: 0px 0 0 20px;
        color: #6A707B;
        
    }
    #terms_text > a{
        color: black;
    }
    .link_box{
        width: 100%;
        display: flex;
        border-top: 1px rgba(227, 227, 228, 1) solid;
        justify-content: center;
        margin: 5px 0 0 0;
        
    }
    .soc_media{
        width: 46px;
        height: 46px;
        border: 1px rgba(227, 227, 228, 1) solid;
        margin: 21px 0 0px 12px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
    }
    .soc_media > div{
        display: flex;
        align-items: center;
    }

    
}