.App{
  display: flex;
  justify-content: center;
  height: 99.5vh;
  min-width: 1180px;
}
.inner_block{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.content_block{
  width: 70%;
  height: 80%;
  text-align: center;
}
.content_block > table{
  width: 100%;
;

}
.content_block > table > tbody > tr > td  {
  text-align: center;
  padding: 10px 0 10px 10px;
  
}
.content_block > table > tbody > tr > td > button {
  float: left;
}
.sort_block{
  width: 100%;
  justify-content: space-between;
  height: 40px;
  display: flex;
  align-content: center;
}
.sort_block > div{
  height: 100%;
}

.sort_block > div> input{
  height: 70%;
  margin: 0 0 0 10px;
}
.emailBtns{
  border: black 0.1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 150px;
  height: 100%;
  margin: 4px;

}
.emailBtns:hover{
  cursor: pointer;
}
.emailBtns > div >label:hover{
  cursor: pointer;
}
.emailBtns > div{
  margin: 0 10px 0 10px;
}
.sortBy{
 
  width: 140px;
  margin: 80px 0 0 0;
  height: 33px;
  display: flex;
  align-items: center;
  padding: 0 0 0 6px;
  justify-content: space-between;
}
.sortBtns{
  display:flex;
  flex-direction: column;
  width:100%;
}
.sortBtns > button{
  margin: 10px;
  width: 100px;
  height: 30px;
}
.delete{
  margin:  20px 0 0 0;
  display: flex;
  justify-content: center;

}
.delete > button{
  margin: 20px;
  width: 90px;
  height: 50px;
}

